<mat-table [dataSource]="socios">
  <ng-container matColumnDef="numeroInscricao">
    <mat-header-cell *matHeaderCellDef>Nº de Inscrição</mat-header-cell>
    <mat-cell *matCellDef="let socio">{{ socio.id }}</mat-cell>
  </ng-container>

  <!-- Coluna Nome -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let socio">{{ socio.nome }}</mat-cell>
  </ng-container>

  <!-- Coluna Data -->
  <ng-container matColumnDef="dataNascimento">
    <mat-header-cell *matHeaderCellDef>Data de Nascimento</mat-header-cell>
    <mat-cell *matCellDef="let socio">{{ socio.dataNascimento | date: 'dd/MM/yyyy' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sexo">
    <mat-header-cell *matHeaderCellDef>Sexo</mat-header-cell>
    <mat-cell *matCellDef="let socio">{{ socio.sexo }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="estahAtivo">
    <mat-header-cell *matHeaderCellDef>Ativar|Desativar</mat-header-cell>
    <mat-cell *matCellDef="let socio"><mat-slide-toggle [checked]="socio.estahAtivo == 'Sim'" (change)="onToggleChange(socio)"></mat-slide-toggle></mat-cell>
  </ng-container>

  <!-- Coluna Ações -->
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef class="coluna-acoes">
      <button mat-mini-fab color="accent" aria-label="Adicionar um socio" (click)="onAdd()" class="coluna-acoes-header">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let socio" class="coluna-acoes">
      <button mat-icon-button color="primary" aria-label="Editar socio" (click)="onEdit(socio)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover socio" (click)="onRemove(socio)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="colunasExibidas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: colunasExibidas"></mat-row>
</mat-table>
