<mat-toolbar color="primary">
  <button mat-raised-button color="primary" class="mat-elevation-z8" id="botao-locadora" (click)="navegarParaHome()">
    <mat-icon>home</mat-icon>
    Projeto Locadora
  </button>
  <button mat-raised-button (click)="navegarParaAtor()">
    <mat-icon>groups</mat-icon>
    Atores
  </button>
  <button mat-raised-button (click)="navegarParaClasse()">
    <mat-icon>movie</mat-icon>
    Classes
  </button>
  <button mat-raised-button (click)="navegarParaDiretor()">
    <mat-icon>person</mat-icon>
    Diretores
  </button>
  <button mat-raised-button (click)="navegarParaTitulo()">
    <mat-icon>person</mat-icon>
    Títulos
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
