<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Locações Disponíveis</mat-toolbar>
    <div class="mat-elevation-z8 coluna-flex">
      <app-locacao-lista *ngIf="locacoes$ | async as locacoes; else carregando" [locacoes]="locacoes" (adicionar)="onAdd()"
        (editar)="onEdit($event)" (excluir)="onRemove($event)">
      </app-locacao-lista>

      <ng-template #carregando>
        <div class="carregando-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
