<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home">
        <div class="white">
          <i class="material-icons custom-icon">home</i>
          Home
        </div>
      </a>
      <a mat-list-item routerLink="ator">
        <div class="white">
          <i class="material-icons custom-icon">recent_actors</i>
          Atores
        </div>
      </a>
      <a mat-list-item routerLink="diretor">
        <div class="white">
          <i class="material-icons custom-icon">movie_edit</i>
          Diretores
        </div>
      </a>
      <a mat-list-item routerLink="socio">
        <div class="white">
          <i class="material-icons custom-icon">groups</i>
          Sócios
        </div>
      </a>
      <a mat-list-item routerLink="classe">
        <div class="white">
          <i class="material-icons custom-icon">subtitles</i>
          Classes
        </div>
      </a>
      <a mat-list-item routerLink="titulo">
        <div class="white">
          <i class="material-icons custom-icon">theaters</i>
          Títulos
        </div>
      </a>
      <a mat-list-item routerLink="/item">
        <div class="white">
          <i class="material-icons custom-icon">category</i>
          Itens
        </div>
      </a>
      <a mat-list-item (click)="logout()">
        <div class="white">
          <i class="material-icons custom-icon">logout</i>
          Logout
        </div>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <button class="menu mat-elevation-z8" (click)="toggleMenu(); drawer.toggle()" mat-icon-button>
      <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
