<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Atores Disponíveis</mat-toolbar>

    <div *ngIf="atores$ | async as atores; else carregando">
      <table mat-table [dataSource]="atores" class="mat-elevation-z8">

        <!-- Coluna Id -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let ator">{{ ator.id }}</td>
        </ng-container>

        <!-- Coluna Nome -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Ator</th>
          <td mat-cell *matCellDef="let ator">{{ ator.nome }}</td>
        </ng-container>

        <!-- Coluna Ações -->
        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef>
            <button mat-mini-fab color="accent" aria-label="Adicionar um Ator" (click)="onAdd()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let ator">
            <button mat-icon-button color="primary" aria-label="Editar Ator">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Remover Ator">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>
      </table>
    </div>

    <ng-template #carregando>
      <div class="carregando-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
