<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary">
      <mat-card-title>Detalhes da Locação</mat-card-title>
    </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formulario" class="largura-minima">
      <mat-form-field class="largura-total">
        <mat-label>Data da Locação</mat-label>
        <input matInput placeholder="Data da Locação" formControlName="dtLocacao" [matDatepicker]="dtLocacao" />
        <mat-datepicker-toggle matIconSuffix [for]="dtLocacao"></mat-datepicker-toggle>
        <mat-datepicker #dtLocacao></mat-datepicker>
        <mat-error *ngIf="formulario.get('dtLocacao')?.invalid">{{
          formUtils.getErrorMessage(formulario, "dtLocacao")
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="largura-total">
        <mat-label>Data da Devolução Previsão</mat-label>
        <input matInput placeholder="Data da Devolução Previsão" formControlName="dtDevolucaoPrevista"
          [matDatepicker]="dtDevolucaoPrevista" />
        <mat-datepicker-toggle matSuffix [for]="dtDevolucaoPrevista"></mat-datepicker-toggle>
        <mat-datepicker #dtDevolucaoPrevista></mat-datepicker>
        <mat-error *ngIf="formulario.get('dtDevolucaoPrevista')?.invalid">{{
          formUtils.getErrorMessage(formulario, "dtDevolucaoPrevista")
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="largura-total">
        <mat-label>Data da Devolução Efetiva</mat-label>
        <input matInput placeholder="Data da Devolução Efetiva" formControlName="dtDevolucaoEfetiva"
          [matDatepicker]="dtDevolucaoEfetiva" />
        <mat-datepicker-toggle matSuffix [for]="dtDevolucaoEfetiva"></mat-datepicker-toggle>
        <mat-datepicker #dtDevolucaoEfetiva></mat-datepicker>
        <mat-error *ngIf="formulario.get('dtDevolucaoEfetiva')?.invalid">{{
          formUtils.getErrorMessage(formulario, "dtDevolucaoEfetiva")
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="largura-total">
        <mat-label>Item</mat-label>
        <mat-select formControlName="item" name="item" placeholder="Item" [compareWith]="compareWithItem"
          (selectionChange)="atualizarValorCobrado()">
          <mat-option *ngFor="let item of itens" [value]="item">
            {{ item.numSerie }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formulario.get('item')?.invalid">{{
          formUtils.getErrorMessage(formulario, "item")
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="largura-total">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente" name="cliente" placeholder="Cliente" [compareWith]="compareWithCliente">
          <mat-option *ngFor="let cliente of clientes" [value]="cliente">
            {{ cliente.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formulario.get('cliente')?.invalid">{{
          formUtils.getErrorMessage(formulario, "cliente")
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="largura-total">
        <mat-label>Valor Cobrado</mat-label>
        <input matInput placeholder="Valor Cobrado" formControlName="valorCobrado" type="number" />
        <mat-error *ngIf="formulario.get('valorCobrado')?.invalid">{{
          formUtils.getErrorMessage(formulario, "valorCobrado")
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="largura-total">
        <mat-label>Multa Cobrada</mat-label>
        <input matInput placeholder="Multa Cobrada" formControlName="multaCobrada" type="number" />
        <mat-error *ngIf="formulario.get('multaCobrada')?.invalid">{{
          formUtils.getErrorMessage(formulario, "multaCobrada")
          }}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="acoes-centralizadas">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
    <button mat-raised-button (click)="onCancel()" class="botao-espaço">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
